// Define variables for your color scheme

// For example:
$purple: #3a0256;
$pink: #b9006e;
$blue: #3a9ad9;
$yellow: #ffe600;
$orange: #f05a28;
$green: #009A31;
$gray: #5B7778;
$light-gray: #93A8A9;
$red: #E8110F;
